<!DOCTYPE html>
<html>
  <head>
    <title>Amazing Bookmark Manager</title>
  </head>

  <body>
    <% if current_user %>
      WELCOME, <%= current_user.first_name %>
    <% end %>

    <% if flash[:errors] && !flash[:errors].empty? %>
       Please refer to the following errors below:
       <ul id='errors'>
         <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
